<!-- To use this template, we need to defined, if we need to includ others, we uuse template plus the name -->
{{ define "home" }}
{{ template "header" }}

    <a name="" id="" class="btn btn-primary" href="/create" role="button">Add employee</a>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
    {{ range.}}
            <tr>
                <td> {{.Id}} </td>
                <td> {{.Name}} </td>
                <td> {{.Email}} </td>
                <td> Edit {{.Id}} | 
                <a name="" id="" class="btn btn-danger" href="/delete?id={{.Id}}" role="button">Delete</a>
                </td>
            </tr>
    {{ end }}

        </tbody>
    </table>

{{ template "footer" }}
{{ end }}